<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static 'trimapp/images/favicon-32x32.png' %}">

        <title>Trimcipe • Page Not Found</title>
    </head>

    <body>
        

        <h1>404</h1>
        <p>Page not found</p>
    </body>
</html>