*{ font-family: 'Didact Gothic', sans-serif; }

html { height: 100%; margin: 0;}

body {
    background-image: url("images/r.jpg") !important; /*darken image 60.1 on https://pinetools.com/darken-image*/
    background-repeat:no-repeat;
    background-size:cover;
    /* removing background-size:cover; fixes the image cutting off issue*/
    height:100%;
    margin: 0;
}

a {color: white !important; text-decoration: none;}

.nav-item {
    display: none;
    color: white !important;
    text-decoration: none !important;
    border-bottom: 3px solid rgba(255, 255, 255, 0.452);
}

.nav-item:hover { border-bottom-color: #9ddcce !important; }

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

h4 {
    font-family: 'Lora', serif;
    text-align: center;
}

.col-md-auto {
    color: black !important;
}

.wrapper {
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    margin: 0 5px 30px 5px;
}

.ingredients li {
    margin-bottom: 10px;
    list-style-type: none;
}

.ingre {
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 900;
    color: #e44260; /* 40916c  ef6351 */
}

.directions li {
    font-family: 'Didact Gothic', sans-serif;
    margin-bottom: 10px;
}

.directions li::marker {
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: 900;
    color: #e44260; /* 40916c  ef6351 */
}

button {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
}

img {
    display: none;
}

/* over over either ingredients or dicretions list item to see temporary strikethrough and click it to cross it out */