* { font-family: 'Didact Gothic', sans-serif; }

body {
    height:100%;
    margin: 0;
    overflow: overlay;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navlink { color: black !important; text-decoration: none !important; border-bottom: 3px solid rgba(177, 177, 177, 0.452); }
#dropdownMenuLink { background-color: transparent !important; border-color: transparent !important; }
#dropdownMenuLink { border-radius: 50px; padding: 0; margin-left: 20px;}
.dropdown-item { color: black !important; text-align: center; }
.dropdown-item:focus { background-color: #b7e6d6 !important; }
.nav-item:hover { border-bottom-color: #9ddcce !important; }

#tile {
    width: 270px;
    padding: 0;
    text-align: center; 
    border: 1px solid rgba(214, 214, 214, 0.397);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;  /* https://getcssscan.com/css-box-shadow-examples #9 */
    border-radius: 20px;
    padding-bottom: 10px;
}

#tile:hover {
    border: 1px solid rgba(214, 214, 214, 0.397);
    box-shadow: rgba(0, 0, 0, 0.171) 0px 4px 30px;
    transition: 0.2s;
}

.foodpic {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 270px;
    height: auto;
    max-width: 100%;
}

.titlelink, #nolink, #nolink1, #nolink2 {
    font-size: 0.9em;
    font-weight: bolder;
    text-decoration: none !important;
    color: black !important;
    border-bottom: 2px solid rgba(167, 167, 167, 0.384);
}
.titlelink:hover { border-bottom-color: #82c0cc !important;}

.og { text-decoration: none !important; color: #489fb5 !important; font-weight: bold; }

#nolink { border-bottom: 4px solid #c4f5f2e8; }
#nolink:hover { border-bottom-color: #2ec4b6 !important; }
#nolink1 { border-bottom: 4px solid #f1969fe8; }
#nolink1:hover { border-bottom-color: #f23955 !important;}
#nolink2 { border-bottom: 4px solid #b9ee7ce8; }
#nolink2:hover { border-bottom-color: #7bda0f !important;}


/* width */
::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(255, 255, 255, 0.13);
}
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 25px;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175); 
    border-radius: 25px;
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(124, 124, 124); 
}