*{ font-family: 'Didact Gothic', sans-serif; }

body {
    background-image: url("images/logsignup.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover; /* removing background-size:cover; fixes the image cutting off issue*/
    /*use media queries*/
    min-height:100%;
}

a.nav-item {color: white !important; text-decoration: none;}

.nav-item {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 3px solid rgba(255, 255, 255, 0.452);
}

.nav-item:hover { border-bottom-color: #9ddcce !important; }

.content {
    position: absolute;
    top: 44%;
    width: 100%;
    margin: auto;
    transform: translateY(-56%);
}

h1 {
    display:flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: white;
    border-radius: 15px;
    padding: 40px 0 50px 0;
    
}

p {
    display:flex;
    align-items: center;
    justify-content: center;
}